body {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
}

/* 예약 폼 스타일 */
#reservationForm {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 입력 필드 스타일 */
.form-group,
.form-group2 {
    display: flex;
    flex-direction: column;
}

.address-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.address-group input {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
}