<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/location.css' %}"/>
    <title>Loading Screen Example</title>
    <style>
        /* 로딩 화면 스타일 */
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 1000;
            text-align: center;
            padding-top: 20%;
        }
    </style>
</head>
<body>
    <h1>주소 입력하기</h1>

    <form action="{% url 'alone_location' %}" method="POST" id="reservationForm">
        {% csrf_token %}
        <div id="addressInputs" class="form-group2">
            <div class="address-group">
                <input type="text" name="address1" placeholder="주소" class="form-control" required />
            </div>
        </div>
        <button type="submit">제출</button>
    </form>
    <!-- 로딩 화면 -->
    <div id="loading" class="hidden">
        <h2>후보 탐색 중...</h2>
    </div>    

    <script src="{% static 'js/loading.js' %}"></script>
</body>
</html>
