{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 페이지</title>
    <link rel="stylesheet" href="{% static 'css/enterinfo.css'%}">
    <script src="{% static 'js/enterinfo.js' %}"></script>
    <script>
        // Django URL을 전역 변수로 설정
        var redirectUrl = "{% url 'choose_func' %}";
    </script>
</head>
    <body>
        <div class="container">
            <h1>예약 페이지</h1>
            <form id="reservation-form">
                {% csrf_token %}
                {% for office in selected_data %}
                    <h3>Name</h3>
                    <b>{{ office.1 }}</b>
                    <h3>Address</h3>
                    <b>{{ office.2 }}</b>
                    <h3>Price</h3>
                    <b>{{ office.3 }}</b>
                    <input type="hidden" name="office_ids" value="{{ office.0 }}">
                {% endfor %}

                <br>
                {{ form.as_p }}
                <!-- 공유오피스와의 연결 문제로 인해 결제 부분 삭제 -->
                <button type="button" onclick="openOfficeUrl()">예약</button>
            </form>
        </div>
        <script>
            function openOfficeUrl() {
                if (typeof officeUrls !== 'undefined' && officeUrls.length > 0) {
                    var officeUrl = officeUrls[0]; // 첫 번째 오피스 URL 사용, 필요시 수정
                    window.open(officeUrl, '_blank');
                }
                window.location.href = redirectUrl; // choose_func.html로 리디렉션
            }
        </script>
    </body>
</html>