{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
    <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="login-content">
                            <div class="cont">
                                <div class="form sign-in">
                                    <h2>Login</h2>
                                    <form method = "post">
                                        {% csrf_token %}
                                       {{ form.as_p }}
                                        <button type="submit" class="submit">Sign In</button>
                                    </form>
                                    {% if messages %}
                                        <ul>
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>
                                <div class="sub-cont">
                                    <div class="img">
                                        <div class="img__text m--up">
                                            <h2>New here?</h2>
                                            <p>Sign up and discover great amount of new opportunities!</p>
                                        </div>
                                        <div class="img__text m--in">
                                            <h2>One of us?</h2>
                                            <p>If you already has an account, just sign in. We've missed you!</p>
                                        </div>
                                        <div class="img__btn">
                                            <span class="m--up">Sign Up</span>
                                            <span class="m--in">Sign In</span>
                                        </div>
                                    </div>
                                    <div class="form sign-up">
                                        <h2>Time to feel like home,</h2>
                                        <form method="post" action="{% url 'sign_up' %}">
                                            {% csrf_token %}
                                            <div class="login-group">
                                                <label>
                                                    <span>Email</span>
                                                    <input type="email" name = "cus_email" required/>
                                                </label>
                                                <label>
                                                    <span>Password</span>
                                                    <input type="password" name = "cus_password" required/>
                                                </label>
                                            </div>
                                            <div class="login-group">
                                                <label>
                                                    <span>Name</span>
                                                    <input type="text" name = "cus_name" required/>
                                                </label>
                                                <label>
                                                    <span>Gender</span>
                                                    <input type="tel" name = "cus_gender" required/>
                                                </label>
                                            </div>
                                            <div class="login-group">
                                                <label>
                                                    <span>Company</span>
                                                    <input type="text" name = "cus_company" required/>
                                                </label>
                                                <label>
                                                    <span>Phone Number</span>
                                                    <input type="tel" name = "cus_phone" required/>
                                                </label>
                                            </div>
                                            <div class="address-text">
                                            <label>
                                                <span>Address</span>
                                                <input type="text" name = "cus_address" id="address-text" required/>
                                            </label>
                                            </div>
                                            <button type="submit" class="submit">Sign Up</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
